* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.clearfix {
  float: none;
  clear: both;
}

.tblfull {
  width: 100%;
}

.tbl-thirty {
  width: 30%;
}
table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}

table tr td {
  padding: 1%;
}

.btnprimary {
  background-color: #1e90ff;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btnprimary:hover {
  background-color: #3742fa;
}

.btnsecondary {
  background-color: #7bed9f;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btnsecondary:hover {
  background-color: #2ed573;
}

.btndanger {
  background-color: #ff6b81;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btndanger:hover {
  background-color: #ff4757;
}

/* CSS for menu */
.menu {
  border-bottom: 1px solid black;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6b81;
}

.menu ul li a:hover {
  color: blue;
}
/* CSS for main content */
.main-content {
  background-color: #f1f2f6;
  padding: 3% 0;
}

.col-4 {
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}
/* CSS for footer */
.footer {
  background-color: #ff4757;
  color: white;
}
